<div class="row">
	<div class="large-6 columns">
		<form method="post" action="/edit/<%= @edit.id %>">
		<fieldset>
		<legend>Edit</legend>

			<div> 
				<input type="text" name="modif" value="<%= @edit.content %>"> </input>
			</div>
			<div>
				<input type="submit" value="Envoyer"> </input>
			</div>
		</fieldset>
		</form>
	</div>	
</div>